<div class="a4-container">
    <div class="align-items-center"
        style="background-color: #b3d9ff; color: #000; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; border-bottom: 2px solid black;">
        <div class="logo" style="margin-right: auto;"><img width="245px" src="../../../assets/images/SV-logo.png"
                alt="Logo" class="img-fluid"></div>
        <div style="margin-left: -96px;">
            <h1 class="cet" style="font-size: 20px; margin: 0;">MSDS ENTRANCE TEST - 2023</h1>
        </div>
        <div class="logo exf" style="margin-left: auto;"><img width="100px;"
                src="../../../assets/images/exfEducation.png" alt="Logo" class="img-fluid">
        </div>
    </div>
    <div style="text-align: center; margin-top: 4px;">(Information as furnished by the Candidate)</div>

    <div class="content" style="display: flex; flex-wrap: wrap; margin: 4px; border: 2px solid black;">
        <div class="subject"
            style="display: flex; padding: 5px 10px; font-weight: bold; border-right: 2px solid black;">
            Subject Code and Name
        </div>
        <div class="subval" style="display: flex; padding: 5px 10px;">
            MSDS - MASTERS IN DATA SCIENCE
        </div>
    </div>

    <div class="row" style="display: flex;">
        <div class="column" style="border: 2px solid black;margin: 5px;width: 60%; height: 340px">
            <div class="name-value-pair" style="margin: 10px 0; padding: 5px;">
                <div class="name" style=" font-weight: bold; display: inline-block; width: 150px;">Candidate's Name
                </div>
                <div class="value" style="display: inline-block; margin-left: 50px;">: <span
                        id="Candidatename">Sri</span>
                </div>
            </div>
            <div class="name-value-pair" style="margin: 10px 0; padding: 5px;">
                <div class="name" style=" font-weight: bold; display: inline-block; width: 150px;">Father's Name</div>
                <div class="value" style="display: inline-block; margin-left: 50px;">: <span id="Fathername">Raju</span>
                </div>
            </div>
            <div class="name-value-pair" style="margin: 10px 0; padding: 5px;">
                <div class="name" style=" font-weight: bold; display: inline-block; width: 150px;">Mother's Name</div>
                <div class="value" style="display: inline-block; margin-left: 50px;">: <span id="Mothername">Hema</span>
                </div>
            </div>
            <div class="name-value-pair" style="margin: 10px 0; padding: 5px;">
                <div class="name" style=" font-weight: bold; display: inline-block; width: 150px;">Registration No</div>
                <div class="value" style="display: inline-block; margin-left: 50px;">: <span
                        id="Registration">102563</span></div>
            </div>
            <div class="name-value-pair" style="margin: 10px 0; padding: 5px;">
                <div class="name" style=" font-weight: bold; display: inline-block; width: 150px;">Date Of Birth</div>
                <div class="value" style="display: inline-block; margin-left: 50px;">: <span id="Dob">16/12/1993</span>
                </div>
            </div>
            <div class="name-value-pair" style="margin: 10px 0; padding: 5px;">
                <div class="name" style=" font-weight: bold; display: inline-block; width: 150px; vertical-align:top">
                    Address</div>
                <div class="value" style="display: inline-block; margin-left: 50px; width:250px;">: <span
                        id="Address">balaji colony, tirupati, andra pradesh - 517501 balaji colony, tirupati, andra
                        pradesh - 517501 balaji colony, tirupati, andra pradesh - 517501</span></div>
            </div>
        </div>

        <div class="column" style="display: block;width: 79px;margin: 5px;">
            <div class="tclmcard" style="width: 131px;border: 2px solid black;margin-top: 34px;">
                <div class="card-header" style="font-weight: bold; border-bottom: 2px solid black; text-align: center;">
                    Category</div>
                <div class="card-content" style=" text-align: center;"><span id="Category">BC_B</span></div>
            </div>
            <div class="tclmcard" style="width: 131px;border: 2px solid black;margin-top: 34px;">
                <div class="card-header" style="font-weight: bold; border-bottom: 2px solid black; text-align: center;">
                    Gender</div>
                <div class="card-content" style=" text-align: center;"><span id="Gender">FEMALE</span></div>
            </div>
            <div class="tclmcard" style="width: 131px;border: 2px solid black;margin-top: 34px;">
                <div class="card-header"
                    style="font-weight: bold; border-bottom: 2px solid black;  text-align: center;">Local Status</div>
                <div class="card-content" style=" text-align: center;"><span id="Localstatus">AU</span></div>
            </div>
            <div class="tclmcard" style="width: 131px;border: 2px solid black;margin-top: 34px;">
                <div class="card-header" style="font-weight: bold; border-bottom: 2px solid black; text-align: center;">
                    Scribe Equired</div>
                <div class="card-content" style=" text-align: center;"><span id="Scribe">NO</span></div>
            </div>
        </div>

        <div class="column" style="margin-left: 60px;margin-right: 5px;">
            <div class="" style="width: 146px;border: 2px solid black;margin-top: 5px;">
                <div class="card-header"
                    style="font-weight: bold;border-bottom: 2px solid black;width: 146px;text-align: center;">Hall
                    Ticket Number</div>
                <div class="" style="text-align: center;font-size: x-large;font-weight: bold;"><span
                        id="Hallticketno">1020142184</span></div>
                <!-- <img src="1692026677010.png" alt="Right Image"> -->
            </div>
        </div>
    </div>
    <div class="row" style="display: flex;">
        <div class="column" style="display: block; width: 225px; margin: 5px; height: 98px;">
            <div class="" style="width: 220px; border: 2px solid black; margin-top: 5px;">
                <div class="card-header"
                    style="font-weight: bold; border-bottom: 2px solid black; width: 220px; text-align: center;">Test
                    Date and Time</div>
                <div class="card-content" style=" text-align: center; font-weight: bold;">
                    26-11-2023<br>
                    (Sunday)<br>
                    <br>
                    10:30 AM to 12:30 PM
                </div>
            </div>
        </div>
        <div class="column" style="border: 2px solid black;margin-top: 10px;margin-left: 5px;width: 68%;">
            <div class="">
                <div class="card-header" style="font-weight: bold; border-bottom: 2px solid black; text-align: center;">
                    Details of Test Center & Address</div>
                <div class="card-content" style=" text-align: center; font-weight: bold;">Entrance examinations will be
                    conducted online.<br>
                    Details will be shared to your registed EmailId<br>
                    For Further information contact
                    +91 7396866627 / 7396866628 <br>
                    admissions&#64;exafluence.com
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="" style="font-style: italic;  padding: 20px;">Digitally generated hall ticket no signatures required
        </div>
    </div>
</div>