<div class="container container-fluid-bg mt-5 p-3" style="margin-bottom: 100px">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="c_firstName">Candidate Name</label>
          <div class="row">
            <div class="col-md-6 col-sm-12 c_fname">
              <input type="text" class="form-control" placeholder="First Name" [formControlName]="'c_firstName'"
                [ngClass]="{
                  'is-invalid': submitted && f['c_firstName'].errors}" />
              <div *ngIf="submitted && f['c_firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['c_firstName'].errors['required']">First Name is required</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 c_lname">
              <input type="text" class="form-control" placeholder="Last Name" [formControlName]="'c_lastName'"
                [ngClass]="{
                  'is-invalid': submitted && f['c_lastName'].errors}" />

              <div *ngIf="submitted && f['c_lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['c_lastName'].errors['required']">Last Name is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Father's Name</label>
          <input class="form-control" placeholder="Enter Father's Name" [formControlName]="'F_name'"
            [ngClass]="{ 'is-invalid': submitted && f['F_name'].errors }" />
          <div *ngIf="submitted && f['F_name'].errors" class="invalid-feedback">
            <div *ngIf="f['F_name'].errors['required']">Father Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Mother's name</label>
          <input class="form-control" placeholder="Enter Mother's Name" [formControlName]="'M_name'"
            [ngClass]="{ 'is-invalid': submitted && f['M_name'].errors }" />
          <div *ngIf="submitted && f['M_name'].errors" class="invalid-feedback">
            <div *ngIf="f['M_name'].errors['required']">Mother Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Date of birth</label>
          <input class="form-control" type="date" [formControlName]="'dateOfBirth'"
            [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }" placeholder="Date of birth" />
          <div *ngIf="submitted && f['dateOfBirth'].errors" class="invalid-feedback">
            <div *ngIf="f['dateOfBirth'].errors['required']">Date is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Annual income of the parent (in Rs.)</label>
          <input class="form-control" type="number" placeholder="Enter Annual income" [formControlName]="'annualIncome'"
            [ngClass]="{ 'is-invalid': submitted && f['annualIncome'].errors }" placeholder="Date of birth" />
          <div *ngIf="submitted && f['annualIncome'].errors" class="invalid-feedback">
            <div *ngIf="f['annualIncome'].errors['required']">Annual Income is required</div>
          </div>
        </div>
        <div class="form-group state" [ngClass]="{'is-invalid': submitted && f['state'].errors}">
          <label for="B_SD">Birth state</label>
          <select formControlName="state" id="B_SD" class="form-control" (change)="onChangeState()"
            [ngClass]="{ 'is-invalid': submitted && f['state'].errors }">
            <option value="" class="form-value">
              State
            </option>
            <option class="form-value" *ngFor="let state of statesAndDistricts" [value]="state.state">{{ state.state }}
            </option>
          </select>
          <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
            <div *ngIf="f['state'].errors['required']">State is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Birth district</label>
          <select name="State" class="form-control" id="B_SD" [formControlName]="'B_District'"
            [ngClass]="{ 'is-invalid': submitted && f['B_District'].errors }">
            <option value="" class="form-value">District</option>
            <option *ngFor="let districtsList of districtsList" [value]="districtsList" class="form-value">
              {{districtsList}}</option>
          </select>
          <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
            <div *ngIf="f['state'].errors['required']">District is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select formControlName="gender" class="form-control" id="gender"
            [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
            <option value="">Select Gender</option>
            <option *ngFor="let option of genderOptions" [value]="option.value">{{ option.label }}</option>
          </select>
          <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
            <div *ngIf="f['state'].errors['required']">Gender is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Address for correspondence</label>
          <textarea class="form-control" placeholder="Enter Address for correspondence" [formControlName]="'AFC'"
            [ngClass]="{ 'is-invalid': submitted && f['AFC'].errors }"></textarea>
          <div *ngIf="submitted && f['AFC'].errors" class="invalid-feedback">
            <div *ngIf="f['AFC'].hasError('required')"> Address is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Mobile number</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">+91</span>
            </div>
            <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;"
              class="form-control" id="Mobile-No" aria-describedby="inputGroupPrepend" placeholder="Enter Mobile number"
              data-type="mobile-number" maxLength="10" onchange="javascript:return validationMobile()"
              [formControlName]="'mobileNumber'" [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors }" />
            <div *ngIf="submitted && f['mobileNumber'].errors" class="invalid-feedback">
              <div *ngIf="f['mobileNumber'].hasError('required')"> Mobile Number is required</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">E-mail ID</label>
          <input class="form-control" placeholder="Enter E-mail ID"
            pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/" id="Email" type="email"
            onchange="javascript:return validationEmail()" [formControlName]="'email'"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
          <span id="mail-valdation"></span>
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].hasError('required')">
              Email is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Aadhar number</label>
          <input class="form-control" placeholder="Enter Aadhar number" id="ANo" data-type="adhaar-number"
            maxLength="14" [formControlName]="'aadharnumber'" [ngClass]="{
              'is-invalid': submitted && f['aadharnumber'].errors
            }" />
          <div id="AadharError"></div>
          <div *ngIf="submitted && f['aadharnumber'].errors" class="invalid-feedback">
            <div *ngIf="f['aadharnumber'].hasError('required')">
              Aadhar Number is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Qualifying Examination</label>
          <input class="form-control" placeholder="Enter Qualifying Examination" [formControlName]="'Qualifyingexam'"
            [ngClass]="{
              'is-invalid': submitted && f['Q_Exam'].errors
            }" />
          <div *ngIf="submitted && f['Q_Exam'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Exam'].hasError('required')">
              Qualifying Examination is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Medium of instruction at qualifying examination</label>
          <input class="form-control" placeholder="Enter Medium of Examination" [formControlName]="'Q_Medium'"
            [ngClass]="{
                'is-invalid': submitted && f['Q_Medium'].errors
              }" />
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Medium of Examination is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="Category">Category</label>
          <select formControlName="category" class="form-control" id="Category" [ngClass]="{
            'is-invalid': submitted && f['category'].errors
          }">
            <option value="">Select Category</option>
            <option *ngFor="let option of categoryOptions" [value]="option.value">{{ option.label }}</option>
          </select>
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Category is required
            </div>
          </div>
        </div>

        <!-- here -->
        <div class="form-group">
          <label for="exampleInputEmail1">Year of passing the qualifying Examination</label>
          <!-- <input class="form-control" placeholder="Enter Year of passing" id="Q_YOP"/> -->
          <select class="form-control" formArrayName="YOP_Qualifying" aria-label="Default select example" id="ddlYears"
            #ddlYears [ngClass]="{'is-invalid': submitted && f['YOP_Qualifying'].errors}">
          </select>
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Year of passing the qualifying Examination is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Year Of Study SSC/ 10th or Equivalent</label>
          <!-- <input class="form-control" placeholder="Enter Year & Place Of Study SSC" id="SSC-Study"/> -->
          <select class="form-control" formArrayName="YOP_Qualifying" id="SSC-Study" #SSCStudy
            [ngClass]="{'is-invalid': submitted && f['YOP_Qualifying'].errors}"></select>
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Year Of Study SSC/ 10th or Equivalent is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Place Of Study SSC/ 10th or Equivalent</label>
          <input class="form-control" formArrayName="YOP_Qualifying" placeholder="Enter Year & Place Of Study SSC"
            id="SSC-Study" [ngClass]="{'is-invalid': submitted && f['YOP_Qualifying'].errors}" />
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              >Place Of Study SSC/ 10th or Equivalent is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Year Of Study Inter or Equivalent</label>
          <!-- <input class="form-control" placeholder="Enter Year & Place Of Study Inter" id="I-Study"/> -->
          <select class="form-control" id="I-Study" #IStudy
            [ngClass]="{'is-invalid': submitted && f['YOP_Qualifying'].errors}"></select>
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Year Of Study Inter or Equivalen is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Place Of Study Inter or Equivalent</label>
          <input class="form-control" formArrayName="YOP_Qualifying" placeholder="Enter Year & Place Of Study Inter"
            id="I-Study" [ngClass]="{'is-invalid': submitted && f['YOP_Qualifying'].errors}" />
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Place Of Study Inter or Equivalent is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Option on Classes To opt</label>
          <select formControlName="className" class="form-control" id="CName"
            [ngClass]="{'is-invalid': submitted && f['YOP_Qualifying'].errors}">
            <option value="">Select Classes</option>
            <option *ngFor="let option of classOptions" [value]="option.value">{{ option.label }}</option>
          </select>
          <div *ngIf="submitted && f['Q_Medium'].errors" class="invalid-feedback">
            <div *ngIf="f['Q_Medium'].hasError('required')">
              Option on Classes To opt is required
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h5 class="pl-4">Declaration:</h5>
          <ul style="font-size: 14px; font-weight: 600">
            <p>
              <input type="checkbox" style="margin-right: 1%" id="dec_1" value="" />
              I have carefully gone through the
              instruction’s prospectus. I
              shall abide by the eligibility conditions and regulations to be
              satisfied for appearing of the Masters in Data Science Entrance
              Test & Admissions 2023. Further I will not involve in any illegal
              activities and malpractice. Mere appearing for the entrance
              examinations does not confer any right to take admission
            </p>
            <p>
              <input type="checkbox" style="margin-right: 1%" id="dec_2" value="" />
              I hereby permit to capture my Aadhar
              number for the application
              purpose and I understand that MS data science entrance test
              formalities shall ensure security and confidentiality of my Aadhar
              number provided.
            </p>
          </ul>
        </div>
      </div>
      <div>
        <p class="pl-4">
          <strong>Date :</strong>
          <span id="todaydate" style="font-size: small; font-weight: 600"></span>
        </p>
      </div>
      <div class="col-sm-12 text-center">
        <button class="btn btn-secondary m-1 btn-round" onclick="javascript:return submitCancel()" id="submitbtn">
          Cancel
        </button>
        <button class="btn btn-primary m-1 btn-round" onclick="javascript:return submitForm()" id="submitbtn">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>